#blog {
    padding          : 0px 25px 10px 50px;
    overflow         : auto;
    background       : white;
    box-shadow       : 2px 0px 6px rgba(0,0,0,0.3);
    font-size        : 105%;
}

section {
    position         : relative;
}

#blog-tag {
    background       : #3737F5;
    border-radius    : 15px 14px 0px 0px;
    box-shadow       : 0px 0px 6px rgba(0,0,0,0.3);
    color            : white;
    font-weight      : bold;
    padding          : 8px 0px 5px;
    position         : absolute;
    text-align       : center;
    top              : 100px;
    transform        : rotate(90deg);
    width            : 180px;
    right            : -107px;
    font-size        : 100%;
    z-index          : -1;
}


#blog-dates {
    margin           : -10px 0px 0px -30px
}


#blog td, th {
    padding-right    : 50px;
}


#blog th {
    border-bottom    : 1px solid #E5E5E5;
}

#blog p {
    text-align       : justify;
}


#blog li p,
#blog blockquote p {
    margin-left      : 0px;
}

#blog h1, h3, h4, h5, h6 {
    color            : #325D72;
}

#blog h1, h2, h3, h4, h5, h6, hr,
#org-content > p:nth-child(3),
#org-content > p:nth-child(2) {
    margin-left      : -35px;
}

@media print, screen and (max-width: 960px) {
    #blog-tag {
        transform    : rotate(0deg);
        top          : 20px;
        left         : 0px;
    }

    #blog {
        margin-top      : 35px;
    }


}

@media print, screen and (max-width: 480px) {
    #blog {
        padding      : 15px;
    }

    #blog h1, h2, h3, h4, h5, h6, hr,
    #org-content > p:nth-child(3),
    #org-content > p:nth-child(2) {
        margin-left  : 0px;
    }
}

#blog p iframe,
#blog p img {
    margin           : 0px auto;
    display          : block;
    max-width        : 100%;
}

#blog pre.prettyprint {
    background       : #3f3f3f;
    border           : 0px solid #3f3fff;
    padding          : 17px 0px 0px 0px;
}


/* TODO status*/
span.task-status {
    padding          : 0 0.2em;
    margin-right     : 10px;
    color            : white;
}

span.task-status.todo {
    color            : white;
    background-color : rgb(39, 149, 182);
}

span.task-status.done {
    color            : white;
    background-color : rgb(81, 143, 31);
}

/* Section Number */
.section-number {
    font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right    : 10px;
    font-weight      : bold;
    color            : rgb(0, 90, 190);
}


#blog h2 {
    margin-top       : 20px;
    padding-bottom   : 5px;
    border-bottom    : 1px coral solid;
}

#blog h2, h3, h4 {
    font-family      : "Linux Libertine", Georgia, Times, serif;
}


#blog h2 span {
    font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
    background       : coral;
    margin-right     : 10px;
    margin-left      : 5px;
    padding          : 5px 14px 8px 14px;
    font-weight      : bold;
    color            : white;
}

.org-subscript-child {
    font-size        : 85%;
}
