#blog {
    padding          : 10px;
    overflow         : auto;
    background       : white;
    box-shadow       : 0px 0px 6px rgba(0,0,0,0.3);
    font-size        : 105%;
}

#blog blockquote, ol, ul {
    margin           : 0px 25px 10px 45px;
}

#blog p {
    text-align       : justify;
    margin           : 0px 25px 10px 45px;
}

#blog-dates {
    margin           : 0px 25px 10px 0px;
}

#blog li p,
#blog blockquote p {
    margin           : 0px;
}

#blog-content > p:nth-child(3),
#blog-content > p:nth-child(2) {
    margin           : 0px 25px 10px 10px;
}

#blog p img {
    margin           : 0px auto;
    display          : block
}


#blog pre {
    margin          : 0px 25px 10px 45px;
}


#blog pre.prettyprint {
    background      : #3f3f3f;
    border          : 0px solid #3f3fff;
    padding         : 17px 0px 0px 0px;
}


/* TODO status*/
span.task-status {
    padding          : 0 0.2em;
    margin-right     : 10px;
    color            : white;
}

span.task-status.todo {
    color            : white;
    background-color : rgb(39, 149, 182);
}

span.task-status.done {
    color            : white;
    background-color : rgb(81, 143, 31);
}

/* Section Number */
.section-number {
    font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right    : 10px;
    font-weight      : bold;
    color            : rgb(0, 90, 190);
}


#blog h2 {
    margin-top       : 20px;
    padding-bottom   : 5px;
    border-bottom    : 1px coral solid;
}

#blog h2, h3, h4 {
    font-family      : "Linux Libertine", Georgia, Times, serif;
}


#blog h2 span {
    font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
    background       : coral;
    margin-right     : 10px;
    margin-left      : 5px;
    padding          : 5px 14px 8px 14px;
    font-weight      : bold;
    color            : white;
}

.org-subscript-child {
    font-size        : 85%;
}
